.item-list .field-widget-ckan-publisher-tree ul,
.block .field-widget-ckan-publisher-tree ul,
.field-widget-ckan-publisher-tree ul
{
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.item-list .field-widget-ckan-publisher-tree ul ul,
.block .field-widget-ckan-publisher-tree ul ul,
.ckan-publisher-tree ul ul,
.field-widget-ckan-publisher-tree ul ul
{
  margin-left: 2.3em;
}

.item-list .field-widget-ckan-publisher-tree ul .form-item,
.block .field-widget-ckan-publisher-tree ul .form-item,
.ckan-publisher-tree .form-item,
.field-widget-ckan-publisher-tree ul .form-item {
  margin: 0;
  padding: 0;
}

.item-list .field-widget-ckan-publisher-tree label,
.block .field-widget-ckan-publisher-tree ul label,
.ckan-publisher-tree label,
.field-widget-ckan-publisher-tree ul label {
    padding-left: 5px;
}

.item-list .field-widget-ckan-publisher-tree label span.highlight,
.block .field-widget-ckan-publisher-tree ul label span.highlight,
.ckan-publisher-tree label span.highlight,
.field-widget-ckan-publisher-tree ul label span.highlight {
    background: #cfc;
}

.ckan-publisher-tree-button,
.no-ckan-publisher-tree-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 4px;
}

.ckan-publisher-tree-button {
  background-image: url('images/bullet_toggle_minus.png');
}

.no-ckan-publisher-tree-button {
  background-color: #ddd;
}

.ckan-publisher-tree-button.ckan-publisher-tree-collapsed {
  background-image: url('images/bullet_toggle_plus.png');
}
.ckan-publisher-tree .form-item,
.field-widget-ckan-publisher-tree .form-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.ckan-publisher-tree .disabled,
.field-widget-ckan-publisher-tree .disabled {
  opacity: .5;
}

.form-type-checkbox-tree .error {
  background-image: none;
  border: 2px solid red;
  padding: 3px;
}

.region-content ul.ckan-publisher-tree-level,
.ckan-publisher-tree-level
{
  padding: 0;
}

.ckan-publisher-tree input {
    margin-left: 0 !important;
}

.ckan-publisher-tree-search {
  max-width: 30em;
}